.toolbar, .dialog  {
    position: absolute;
    z-index: 999;
    width: 100%;
    height: auto;
    background: rgba(22, 21, 21, 0.5);
    font-size: .75em;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.25)    
}

.dialog {
    width: 100%;
}

.dialog-color-dark {
    background-color: rgba(62, 62, 62, 0.35);
}

.dialog-color-darkest {
    background-color: rgba(32, 32, 33, 0.35);
}


.dialog-toolbar {
    float: left;
    width: 100%;
    height: auto;
    background-color: rgba(32, 32, 33, 0.25);
    cursor: pointer;
}

.dialog-title {
    float: left;
    width: 100%;
    height: auto;
    background-color: rgba(32, 32, 33, 0.35);
    font-weight: bold;
    display: none;
}

.dialog-toolbar-title {
    font-size: 1em;
    font-weight: bold;
    padding: .15em .5em;
    float: left;
}

.dialog-title-title {
    font-size: 1em;
    padding: .2em;
    float: left;
}

.dialog-title-close {
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
    font-size: .8em;
    line-height: .4em;
    padding: .2em .3em .5em .3em;
    margin: .7em .5em;
    cursor: pointer;
}

.dialog-wrap {
    clear: both;
    float: left;
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
    height: auto;
    overflow: hidden;
    position: relative;
}



.dialog-wrap.resize {
/*    height: 5em;*/
}

.dialog-scroll {
    height: 10em;
    overflow: auto;
}


.dialog-wrap.resize-resize {
    height: 5em;
}

.dialog-wrap.resize-resize-large {
    height: 18em;
}

.dialog-row {
    float: left;
    width: 100%;
    height: auto;
    padding-bottom: 1em;
    margin-bottom: 0;
}

.dialog-row-pad {
    width: 95%;
    padding-top: .2em;
    padding-left: .2em;
    
}

.dialog-row-border {
    border-bottom: 1px solid darkgray;
    margin-bottom: 1em;
}

.dialog-row-dark {
    border-bottom: 1px solid darkgray;
    margin-bottom: 0;
    padding: 1em .5em 1em .5em;
}




.dialog-col-col {
    width: 12em;
    padding-right: 1em;
}

.dialog-col-full {
    width: calc(100% - 13em);
}


.dialog-col-20 {
    width: 20%;
}

.dialog-col-25 {
    width: 25%;
}

.dialog-col-30 {
    width: 30%;
}

.dialog-col-33 {
    width: 33%;
}

.dialog-col-50 {
    width: 50%;
}

.dialog-col-60 {
    width: 60%;
}

.dialog-col-70 {
    width: 70%;
}

.dialog-col-75 {
    width: 75%;
}

.dialog-col-80 {
    width: 80%;
}




















.dialog-label-color {
    float: left;
    margin-top: 2px;
    margin-right: 5px;
    width: 1em;
    height: 1em;
    border: 1px solid black;
}


.dialog-row > label {
    font-size: .9em;
}

.dialog-label-large {
    width: 8em;
}

.dialog-label-mini {
    width: 2.5em;
}

.dialog-label-short {
    width: 4.5em;
}

.dialog-label-shortest {
    width: 1.5em;
    margin-right: .5em;
}

.dialog-label-pad-top-small {
    padding-top: .3em;
}




.dialog-label-subhead {
    font-size: .8em;
    line-height: 0;
    color: darkgray;
    clear: both;
    padding: 0;
    margin-top: .2em;
    margin-left: 0;
}



.dialog-input-label {
    margin: 0;
    width: 2em;
    text-align: center;
}

.dialog-input-label-short {
    width: 3.5em;
}

.dialog-input {
    width: 4em;
    margin-top: -.2em;
    padding-right: 2px;
}

.dialog-input-mini {
    width: 7.5em;
}


.dialog-input-small {
    width: 3em;
}

.dialog-input-short {
    width: 4em;
    margin-right: .5em;
    margin-top: -.25em;
}

.dialog-input-range {
    margin: 0 2% 0 2%;
    width: 96%;
}

.dialog-input-button {
    margin: 0 1em 0 1em;
    width: 4em;
    text-align: center;
    border: 1px solid #7b7b7b;
    color: white;
    padding: .4em;
    cursor: pointer;
    font-weight: bold;
}

.dialog-input-button-round {
    margin: 0 0 0 1em;
    text-align: center;
    padding: .4em .6em .4em .6em;
    font-size: .8em;
    font-weight: bold;
    width: auto;
}

.dialog-input-button:focus {
    outline: none;
    border: 1px solid #b7b7b7;
}

.dialog-input-button:hover {
    font-weight: bold;
    border: 1px solid white;
}

.dialog-input-radio {
    margin: 0 .5em 0 .5em;
}

.dialog-input-toggle {
    font-size: .8em;
    padding: .5em;
    cursor: pointer;
}


.dialog-input-text {
    width: 100%;
    height: 10em;
    resize: none;
}



.dialog-check {
    width: auto;
    position: relative;
}

.dialog-check-full {
    width: 100%;
}

.dialog-check-small {
    width: 7.5em;
}

.dialog-select {
    width: 100%;
}











.dialog-tab-list {
    float: left;
    width: 100%;
    height: 100%;
}




.dialog-tab-list-tabs {
    display: table-cell;
    vertical-align: top;
    width: 8em;
    height: auto;
}

    .dialog-tab-list-tabs-tab {
        float: left;
        color: white;
        padding: .5em 10% .5em 0;
        width: 90%;
        height: 100%;
        color: lightgray;
        text-align: right;
        text-decoration: none;
        border-bottom: rgba(32, 32, 33, 0.35) 1px solid;
    }

    .dialog-tab-list-tabs-tab:hover {
        color: white;
    }

    .dialog-tab-list-tabs-tab-selected {
        color: white;
        font-weight: bold;
    }





.dialog-tab-list-list {
    display: table-cell;
    vertical-align: top;
    height: 100%;
    width: auto;
    overflow-y: auto;
    overflow-x: hidden;
}

    .dialog-tab-list-list-tablist {
        float: left;
        width: 100%;
        height: 100%;
        color: white;
        text-align: left;
        display: none;
    }

    .dialog-tab-list-list-tablist-item {
        width: 90%;
        margin: .5em 5% .5em 5%;
        height: auto;
    }

    .dialog-tab-list-list-tablist-selected {
        display: block;
    }






.dialog-canvas {
    width: 100%;
    height: 100%;
}

.dialog-canvas > canvas {
    border: 1px solid darkgray;
    background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,0.8) 0%, rgba(255,255,255,0) 100%);
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0) 100%);
    background: radial-gradient(ellipse at center, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99ffffff', endColorstr='#00ffffff',GradientType=1 );
}


@media (min-width: 768px) {
    .toolbar, .dialog  {
        font-size: .8em;
    }
    #dev {
        right: 1em;
        top: 1em;
    }
    .dialog {
        min-width: 25em;
        width: 25em;
    }
    .dialog-resize {
        min-width: 25em;
        width: auto;
    }
    .dialog-resize-vertical {
        width: 25em;
    }
    .dialog-title {
        display: block;
    }
}
