.toolbar, .dialog  {
    position: absolute;
    z-index: 999;
    width: auto;
    height: auto;
    background: rgba(22, 21, 21, 0.5);
    font-size: .8em;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.25)    
}

.dialog {
    width: 28em;
}

.dialog-toolbar {
    float: left;
    width: 100%;
    height: auto;
    background-color: rgba(32, 32, 33, 0.25);
    cursor: pointer;
}

.dialog-title {
    float: left;
    width: 100%;
    height: auto;
    background-color: rgba(32, 32, 33, 0.35);
    font-weight: bold;
}

.dialog-toolbar-title {
    font-size: 1em;
    font-weight: bold;
    padding: .15em .5em;
    float: left;
}

.dialog-title-title {
    font-size: 1em;
    padding: .2em;
    float: left;
}

.dialog-title-close {
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
    font-size: .8em;
    line-height: .4em;
    padding: .2em .3em .5em .3em;
    margin: .7em .5em;
    cursor: pointer;
}

.dialog-wrap {
    clear: both;
    float: left;
    width: 92%;
    padding: 1em 4% 1em 4%;
    height: auto;
    overflow: hidden;
    position: relative;
}



.dialog-wrap.resize {
/*    height: 5em;*/
}

.dialog-scroll {
    height: 10em;
    overflow: auto;
}


.dialog-wrap.resize-resize {
    height: 5em;
}

.dialog-wrap.resize-resize-large {
    height: 18em;
}

.dialog-row {
    float: left;
    width: 100%;
    height: auto;
    padding-bottom: 1em;
    margin-bottom: 0;
}

.dialog-row-pad {
    width: 95%;
}

.dialog-row-border {
    border-bottom: 1px solid darkgray;
    margin-bottom: 1em;
}


.dialog-label-color {
    float: left;
    margin-top: 2px;
    margin-right: 5px;
    width: 1em;
    height: 1em;
    border: 1px solid black;
}


.dialog-row > label {
    font-size: .9em;
}

.dialog-label-large {
    width: 8em;
}

.dialog-label-short {
    width: 4.5em;
}

.dialog-label-shortest {
    width: 1.5em;
    margin-right: .5em;
}

.dialog-label-pad-top-small {
    padding-top: .3em;
}

.dialog-input-label {
    margin: 0;
    width: 2em;
    text-align: center;
}

.dialog-input {
    width: 4em;
    margin-top: -.2em;
}

.dialog-input-small {
    width: 3em;
}

.dialog-input-short {
    width: 4em;
    margin-right: .5em;
    margin-top: -.25em;
}

.dialog-input-range {
    margin: 0 1em 0 1em;
    width: 15em;
}

.dialog-input-button {
    margin: 0 1em 0 1em;
    width: 4em;
    text-align: center;
    background-color: rgba(32, 32, 33, 0.35);
    border: 1px solid #7b7b7b;
    color: white;
    padding: .4em;
    cursor: pointer;
}

.dialog-input-button:focus {
    outline: none;
    border: 1px solid #b7b7b7;
}

.dialog-input-radio {
    margin: 0 .5em 0 .5em;
}

.dialog-input-toggle {
    font-size: .8em;
    padding: .5em;
    cursor: pointer;
}

.dialog-check {
    width: auto;
    position: relative;
}

.dialog-check-full {
    width: 100%;
}

.dialog-check-small {
    width: 7.5em;
}

.dialog-select {
    width: 20.5em;
}




.dialog-tab-list {
    float: left;
    width: 100%;
    height: 100%;
}

.dialog-tab-list-tabs {
    float: left;
    width: 30%;
    height: auto;
}

.dialog-tab-list-tabs-tab {
    float: left;
    color: white;
    padding: .5em 10% .5em 0;
    width: 90%;
    height: 100%;
    color: lightgray;
    text-align: right;
    text-decoration: none;
    border-bottom: rgba(32, 32, 33, 0.35) 1px solid;
}

.dialog-tab-list-tabs-tab:hover {
    color: white;
}

.dialog-tab-list-tabs-tab-selected {
    color: white;
    font-weight: bold;
}

.dialog-tab-list-list {
    float: left;
    width: 70%;
    height: 100%;
    overflow-y: auto;
    background-color: rgba(32, 32, 33, 0.35);
}

.dialog-tab-list-list-tablist {
    float: left;
    width: 100%;
    height: 100%;
    color: white;
    text-align: left;
    display: none;
}

.dialog-tab-list-list-tablist-item {
    width: 90%;
    margin: .5em 5% .5em 5%;
    height: auto;
}

.dialog-tab-list-list-tablist-selected {
    display: block;
}






.dialog-canvas {
    width: 100%;
    height: 100%;
}