.logo-block {
    margin-top: 5em;
}

.logo-words-block {
    width: 100%;
    height: auto;
    float: left;
}


.logo {
    text-align: center;
    font-size: .4em;
    font-weight: bold;
    position: relative;
    z-index: 0;
}


.game-menu  {
    position: absolute;
    right: 2em;
    bottom: 2em;
    z-index: 99999;
    font-size: 3em;
}



.logo-menu > a {
    color: white;
    text-decoration: none;
}


#main-logo-top {
    margin-top: -28em;
}

.logo-top {
    position: relative;
    color: white;
    letter-spacing: -6px;
    -webkit-text-stroke: 4px white;    
    z-index: 800;
}


.logo-bottom {
    position: relative;
    color: #94CE23;
    -webkit-text-stroke: 10px #94CE23;    
    letter-spacing: -10px;
    z-index: 500;
}

.logo-shadow {
    text-shadow: -1px -1px 0 #969696, 1px 1px 0 #969696, -1px -1px 0 #969696, 1px 1px 0 #969696, 0px 0px 100px rgba(0,0,0,.4), 10px 10px 10px rgba(0,0,0,.2);
}

.logo-shadow-inside {
    text-shadow: 0px 0px 5px rgba(0,0,0,.8);
}

.logo-menu-shadow {
    text-shadow: 0px 0px 15px rgba(0,0,0,.2);
}


.logo > .super {
    font-size: 12em;
    line-height: .5em;
}

.logo > .murder {
    font-size: 12em;
    line-height: .7em;
}

.logo > .friends {
    font-size: 11em;
    line-height: .7em;
}

.logo-words-kern-large {
    letter-spacing: -14px;
}

.logo-words-kern-small {
    letter-spacing: -4px;
}






@media (min-width: 768px) {

    .logo-top {
        -webkit-text-stroke: 15px white;    
    }


    .logo-bottom {
        -webkit-text-stroke: 20px #94CE23;    
    }
    
    .logo {
        font-size: 1em;
    }
}
@media (min-width: 992px) {
    .logo {
        font-size: 1.2em;
    }

    .logo-shadow-inside {
        text-shadow: 0px 0px 15px rgba(0,0,0,.8);
    }
    
    .logo-top {
        -webkit-text-stroke: 20px white;    
    }


    .logo-bottom {
        -webkit-text-stroke: 20px #94CE23;    
    }
    
    
}




.logo-words-letters-wobble {
    -webkit-transition: rotate 600ms ease-in-out;
    transition:         rotate 600ms ease-in-out;    
    -webkit-animation: wobble 3s infinite;
    -moz-animation:    wobble 3s infinite;
    animation:         wobble 3s infinite;
}

@-webkit-keyframes wobble {
  0%   { -webkit-transform: rotate(-8deg); }
  50% { -webkit-transform: rotate(8deg); }
  100% { -webkit-transform: rotate(-8deg); }
}
@-moz-keyframes wobble {
  0%   { -moz-transform: rotate(-8deg); }
  50%   { -moz-transform: rotate(8deg); }
  100% { -moz-transform: rotate(-8deg); }
}
@keyframes wobble {
  0%   { transform: rotate(-8deg); }
  50%   { transform: rotate(8deg); }
  100% { transform: rotate(-8deg); }
}
