<div ui-height="100" class="ui-height ui-player-chooser ui-top-parent fg-color-main border-sides" id="-ui-player-chooser-main">
    
    <div ui-height="100" class="ui-height fg-color-main full-width">
                
        <div class="flip">
            <div id="-ui-player-chooser-start-card" class="card"> 
                <div class="face front">                
                    <div id="-ui-player-chooser-player-panel" ui-height="100" class="ui-height ui-player-chooser-player-panel bg-color-main fg-color-main border-sides">
                        <div ui-top="35" class="ui-top ui-player-chooser-card-start-button menu-game-button-icon menu-game-button-icon-large bg-color-main fg-color-main bg-color-ok border circle ui-shadow" id="-ui-player-chooser-card-start">
                            <a id="-ui-player-chooser-button-start" href="#" class="fade-hide menu-game-button-icon-link menu-game-button-icon-link-text fg-color-main ">START</a>                        
                        </div>                    
                    </div>
                </div>

                <div class="face back">                

                    <div class="flip">
                        <div id="-ui-player-chooser-card" class="card"> 

                            <div class="face front">                

                                <div ui-height="100" class="ui-height ui-player-chooser-player-panel bg-color-main fg-color-main border-sides">
                                
                                    <div ui-height="5.5" class="ui-height ui-player-chooser-head bg-color-main fg-color-main border-bottom">
                                        <p id="-ui-player-chooser-title" class="menu-text text-center fg-color-main ui-player-chooser-title"></p>        
                                    </div>

                                    <div id="-ui-player-chooser" ui-height="50" class="ui-height ui-player-chooser-content fg-color-main bg-color-white boder-bottom shadow-inner-light">
                                        <div id="-ui-player-chooser-player-panel" ui-height="48" class="ui-height ui-player-chooser-player-panel ui-player-chooser-player-panel-inner">
                                            
                                            <div id="-ui-player-chooser-canvas" ui-height="48" class="ui-height bg-color-white relative ui-player-chooser-canvas">
                                                
                                                <p id="-ui-player-chooser-canvas-text" ui-top="41" class="ui-top menu-text menu-canvas-text text-center ui-player-chooser-canvas-text"></p>        
                                                
                                                <a id="-ui-player-chooser-button-prev" ui-top="25" href="#" class="ui-top ui-player-chooser-navigation-button ui-player-chooser-navigation-button-left fg-color-light">
                                                    <i class="menu-game-button-icon-link-icon ui-player-chooser-button-icon-link-icon fa fa-chevron-left"></i>
                                                </a>
                                                <a id="-ui-player-chooser-button-next" ui-top="25" href="#" class="ui-top ui-player-chooser-navigation-button ui-player-chooser-navigation-button-right fg-color-light ">
                                                    <i class="menu-game-button-icon-link-icon ui-player-chooser-button-icon-link-icon fa fa-chevron-right"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>                    

                                    <div ui-height="50" class="ui-height ui-player-chooser-content fg-color-main bg-color-main border-top">

                                        <div ui-top="-2.25" class="ui-top main-content-button-bar ui-player-chooser-button-bar">
                                            <div class="main-content-button-bar-button ui-player-chooser-button-bar-button">
                                                <div class="menu-game-button-icon ui-player-chooser-button-icon bg-color-main fg-color-main border circle ui-shadow">
                                                    <a id="-ui-player-chooser-button-custom" href="#" class=" menu-game-button-icon-link menu-game-button-icon-link-wrench ui-player-chooser-button-icon-link fg-color-main ">
                                                        <i class="menu-game-button-icon-link-icon ui-player-chooser-button-icon-link-icon fa fa-wrench"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div ui-top="10" class="ui-top ui-player-chooser-card-start-button menu-game-button-icon menu-game-button-icon-large bg-color-main fg-color-main bg-color-ok border circle ui-shadow" id="-ui-player-chooser-card-start">
                                            <a id="-ui-player-chooser-button-ready" href="#" class="fade-hide menu-game-button-icon-link menu-game-button-icon-link-text fg-color-main ">READY</a>                        
                                        </div>                    
                                        
                                    </div>
                                    
                                </div>
                            </div>

                            <div class="face back">     
                                <div id="-ui-player-chooser-custom" ui-height="100" class="ui-height ui-player-chooser-content bg-color-main fg-color-main border-sides boder-bottom">
                                    <div id="-ui-player-chooser-player-custom-panel" ui-height="100" class="ui-height ui-player-chooser-player-panel">
                                        <div ui-top="63.8" class="ui-top main-content-button-bar ui-player-chooser-button-bar ui-player-chooser-custom-button-bar">
                                            <div class="main-content-button-bar-button ui-player-chooser-button-bar-button">
                                                <div class="menu-game-button-icon ui-player-chooser-button-icon menu-game-button-icon-middle ui-player-chooser-button-icon-middle bg-color-main fg-color-main border circle ui-shadow">
                                                    <a id="-ui-player-chooser-custom-button-ok" href="#" class=" menu-game-button-icon-link ui-player-chooser-button-icon-link fg-color-main ">
                                                        <i id="ui-player-chooser-custom-ok-icon" class="menu-game-button-icon-link-icon ui-player-chooser-button-icon-link-icon fa fa-check"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>        
</div>