.visible-mobile {
    display: block;
}

.visible-mobile.flex {
    display: flex;
}

.hidden-mobile {
    display: none;
}

.visible-tablet {
    display: none;
}

.visible-pc {
    display: none;
}

.hidden-pc {
    display: block;
}
.hidden-pc.flex {
    display: flex;
}



@media (min-width: 768px) {
    .visible-mobile {
        display: none;
    }
    .visible-mobile.flex {
        display: none;
    }
    .hidden-mobile {
        display: block;
    }
    .hidden-mobile.flex {
        display: flex;
    }
    .visible-tablet {
        display: block;
    }
    .visible-tablet.flex {
        display: flex;
    }
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
    .hidden-pc {
        display: none;
    }
    .hidden-pc.flex {
        display: none;
    }
    .visible-pc {
        display: block;
    }
    .visible-pc.flex {
        display: flex;
    }
}
@media (min-width: 1500px) {
    
}
@media (min-width: 1700px) {}