html {
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; 
    font-weight: 350; 
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;    
}

.middle {
    display: table; 
    position: absolute; 
    height: 100%; 
    width: 100%;
}

.center {
    display: table-cell; 
    vertical-align: middle;
    text-align: center;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.hidden {
    visibility: hidden;
}

.resize {
    resize: both;
}

.pointer-resize {
    cursor: nw-resize;
}


.border {
    border-width: 2px;
    border-style: solid;
}

.border-thin {
    border-width: 1px;
}

.border-top {
    border-top-width: 2px;
    border-top-style: solid;
}

.border-bottom {
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

.border-sides {
    border-left-style: solid;
    border-left-width: 2px;
    border-right-style: solid;
    border-right-width: 2px;
}

.round-corners {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.circle {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.shadow {
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.25);
}

.ui-shadow {
    -webkit-box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.2);
}

.shadow-none {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.shadow-inner {
    -webkit-box-shadow: inset 0px 0px 10px 2px rgba(0,0,0,0.4);
    -moz-box-shadow: inset 0px 0px 10px 2px rgba(0,0,0,0.4);
    box-shadow: inset 0px 0px 10px 2px rgba(0,0,0,0.4);
}

.shadow-inner-light {
    -webkit-box-shadow: inset 0px 0px 10px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 0px 0px 10px 2px rgba(0,0,0,0.2);
    box-shadow: inset 0px 0px 10px 2px rgba(0,0,0,0.2);
}

.text-shadow {
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}

.no-margin-left {
    margin-left: 0 !important;
}

.no-margin-right {
    margin-right: 0 !important;
}

.float-left {
    float: left;
}

.float-center {
    float: none;
}

.float-right {
    float: right;
}

.full-width {
    width: 100%;
}


.pad-left-small {
    padding-left: .2em;
}

.pad-left {
    padding-left: 1em;
}

.margin-top {
    margin-top: 1em;
}

.margin-left {
    margin-left: 1em;
}



.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.z-top {
    z-index: 999;
}