<div class="center menu menu-game fit-height fade-hide" id="game-content">
    <div ui-height="3" class="ui-height"></div>
    <div ui-height="90" class="ui-height main-menu-player round-corners " id="menu-game-player">
        
        <div ui-height="60" class="ui-height round-corners menu-player-canvas-relative" id="menu-canvas"></div>
        
        <p class="menu-canvas-text text-center" id="menu-canvas-ui"></p>        
        
        <a href="#" ui-item-link="menu-canvas" ui-item-link-point="bl" class="ui-item-link menu-game-player-view-player-button menu-game-player-view-player-button-prev fade-in" id="menu-game-player-view-player-button-prev">
            <i ui-min-scale="30" ui-max-scale="35" ui-scale-h="8" class="ui-scale-h menu-game-player-view-player-button-icon circle  shadow fa fa-chevron-circle-left"></i>
        </a>
        <a href="#" ui-item-link="menu-canvas" ui-item-link-point="br" class="ui-item-link menu-game-player-view-player-button menu-game-player-view-player-button-next fade-in" id="menu-game-player-view-player-button-next">
            <i ui-min-scale="30" ui-max-scale="35" ui-scale-h="8" class="ui-scale-h menu-game-player-view-player-button-icon circle  shadow fa fa-chevron-circle-right"></i>
        </a>
    </div>
    
    <div ui-item-link="menu-game-player" ui-item-link-point="bc" class="ui-item-link menu-game-player-button-bottom-wrap">
        
        <a href="#" class="fade-in menu-game-player-button-bottom menu-game-player-button-bottom-left">
            <i ui-min-scale="40" ui-max-scale="40" ui-scale-h="8" class="ui-scale-h menu-game-player-view-player-button-icon circle  fa fa-home"></i>
        </a>
        
        <a href="#menu-player-level" class="fade-in menu-game-player-button-bottom menu-game-player-button-bottom-large menu-game-player-button-bottom-middle">
            <i ui-min-scale="55" ui-max-scale="55" ui-scale-h="8" class="ui-scale-h menu-game-player-view-player-button-icon circle  fa fa-check"></i>
        </a>
        
        <a href="#menu-player-customize" class="fade-in menu-game-player-button-bottom menu-game-player-button-bottom-right">
            <i ui-min-scale="40" ui-max-scale="40" ui-scale-h="10" class="ui-scale-h menu-game-player-view-player-button-icon circle  fa fa-wrench"></i>
        </a>
        
    </div>
</div>