<div class="center menu menu-game fit-height fade-hide" id="game-content">
    <div ui-height="3" class="ui-height"></div>
    
    <div class="main-menu-image" id="main-menu-image">
        <div ui-height="90" class="ui-height main-menu-image-image round-corners">
        </div>
    </div>
    
    <div ui-item-link="main-menu-image" ui-item-link-point="bc" class="ui-item-link menu-game-player-button-bottom-wrap">
        
        <a href="#menu-party" class="fade-in menu-game-player-button-bottom menu-game-player-button-bottom-left">
            <div class="menu-game-player-view-player-button-icon circle menu-game-players-icon-menu-button">
                <span ui-top="17" class="ui-top menu-game-players-icon menu-game-players-icon-online-mp menu-game-players-icon-mp">
                    <i ui-scale-h="45" class="ui-scale-h fa fa-male menu-game-players-icon-online-first"></i>
                    <i ui-scale-h="45" class="ui-scale-h fa fa-male menu-game-players-icon-online-mp-top"></i>
                    <i ui-scale-h="45" class="ui-scale-h fa fa-male"></i>
                </span>
            </div>
        </a>
        
        <a href="#menu-player" class="fade-in menu-game-player-button-bottom menu-game-player-button-bottom-large menu-game-player-button-bottom-middle">
            <i ui-min-scale="55" ui-max-scale="55" ui-scale-h="8" class="ui-scale-h menu-game-player-view-player-button-icon circle fa fa-male"></i>
        </a>

        <a href="#menu-online" class="fade-in menu-game-player-button-bottom menu-game-player-button-bottom-right">
            <div class="menu-game-player-view-player-button-icon circle menu-game-players-icon-menu-button">
                <span ui-top="17" class="ui-top menu-game-players-icon menu-game-players-icon-online-mp menu-game-players-icon-mp">
                    <span class="menu-game-players-icon menu-game-players-icon-online menu-game-players-icon-online-level">
                        <i class="fa fa-television"></i>
                    </span>
                    <span class="menu-game-players-icon menu-game-players-icon-online-level-players">
                        <i class="fa fa-male menu-game-players-icon-online-first"></i>
                        <i class="fa fa-male menu-game-players-icon-online-mp-top"></i>
                        <i class="fa fa-male"></i>
                    </span>
                </span>
            </div>
        </a>
        
    </div>
</div>