<div class="fit-height full-width">
    <div ui-height="3" class="ui-height"></div>
    <div ui-height="90" class="ui-height camera-canvas player-canvas" id="player1"></div>
    
    <p class="game-canvas-text text-left" id="game-ui"></p>
    
    <div ui-item-link="player1" ui-item-link-point="bc" class="ui-item-link menu-game-player-button-bottom-wrap menu-game-player-button-bottom-wrap-game">
        <a href="#" class="fade-in menu-game-player-button-bottom menu-game-player-button-bottom-left">
            <i ui-min-scale="50" ui-max-scale="50" ui-scale-h="8" class="ui-scale-h menu-game-player-view-player-button-icon circle shadow fa fa-home game-button-home"></i>
        </a>
        <a href="#game-pause" class="fade-in menu-game-player-button-bottom menu-game-player-button-bottom-large menu-game-player-button-bottom-middle">
            <i ui-min-scale="60" ui-max-scale="60" ui-scale-h="10" class="ui-scale-h menu-game-player-view-player-button-icon circle shadow fa fa-pause"></i>
        </a>
        <a href="#game-sp" class="fade-in menu-game-player-button-bottom menu-game-player-button-bottom-right">
            <i ui-min-scale="50" ui-max-scale="50" ui-scale-h="8" class="ui-scale-h menu-game-player-view-player-button-icon circle shadow fa fa-gear"></i>
        </a>
    </div>
</div>