<div class="center menu menu-game fit-height">
    <div ui-height="3" class="ui-height"></div>
    <div class="main-menu-image" id="main-menu-image">
        <div ui-height="90" class="ui-height main-menu-image-image round-corners shadow">
        </div>
    </div>
    <div ui-item-link="main-menu-image" ui-item-link-point="bc" class="ui-item-link menu-game-button-bottom-wrap">
        <a href="#menu-sp" class="ui-square ui-center-group menu menu-game-players circle shadow no-margin-left">
            <span ui-top="28" class="ui-top ui-center menu-game-players-icon menu-game-players-icon-1p">
                <i ui-scale-h="40" class="ui-scale-h fa fa-male"></i>
            </span>
        </a>
        <a href="#menu-party" class="ui-square ui-center-group menu menu-game-players circle shadow menu-game-players-party">
            <span ui-top="28" class="ui-top ui-center menu-game-players-icon menu-game-players-icon-party">
                <i ui-scale-h="40" class="ui-scale-h fa fa-male"></i>
                <i ui-scale-h="40" class="ui-scale-h fa fa-male menu-game-players-icon-mp-top"></i>
                <i ui-scale-h="40" class="ui-scale-h fa fa-male"></i>
            </span>
        </a>
        <a href="#menu-online" class="ui-square ui-center-group menu menu-game-players circle shadow no-margin-right">
            <span ui-top="28" class="ui-top ui-center menu-game-players-icon menu-game-players-icon-online">
                <i ui-scale-h="45" class="ui-scale-h fa fa-television"></i>
            </span>
            <span ui-top="-33.5" class="ui-top ui-center menu-game-players-icon menu-game-players-icon-online-mp menu-game-players-icon-mp">
                <i ui-scale-h="15" class="ui-scale-h fa fa-male"></i>
                <i ui-scale-h="15" class="ui-scale-h fa fa-male menu-game-players-icon-mp-top"></i>
                <i ui-scale-h="15" class="ui-scale-h fa fa-male"></i>
            </span>
        </a>
    </div>
</div>