<div class="main-content-wrap">

    
    <div class="screen-gamepads visible-mobile visible-tablet hidden-pc" id="gamepads">
        
        <a class="screen-gamepad-button screen-gamepad-button-left screen-gamepad-button-first shadow" id="screen-gamepad-button-left"></a>
        <a class="screen-gamepad-button screen-gamepad-button-left shadow" id="screen-gamepad-button-right"></a>
            
        <a class="screen-gamepad-button screen-gamepad-button-right shadow" id="screen-gamepad-button-jump"></a>
    </div>

    <div class="game-canvas fit" id="game-canvas"></div>        
    
</div>