<div class="main-content-wrap">
    <div class="fit-height main-content-menu-main-main full-width menu-wrap" id="menu-canvas">
        <div ui-height="15" class="ui-height"></div>
        
        <h1 class="logo " id="main-logo">
            <span class="logo-words super logo-bottom logo-shadow">SUPER</span>
            <br />
            <span class="logo-words murder logo-bottom logo-shadow">MURDER</span>
            <br />
            <span class="logo-words friends logo-bottom logo-shadow">FRIENDS</span>
        </h1>
        <h1 class="logo logo-top" id="main-logo-top">
            <span class="logo-words super logo-bottom logo-shadow-inside">SUPER</span>
            <br />
            <span class="logo-words murder logo-bottom logo-shadow-inside">MURDER</span>
            <br />
            <span class="logo-words friends logo-bottom logo-shadow-inside">FRIENDS</span>
        </h1>
        
    </div>
</div>
<div class="button-wrap">
    <a id="start-game" href="#menu-player" class="fade-hide menu-game-button-icon-link menu-game-button-icon-link-text fg-color-main ">START</a>
</div>