<div id="stage-wrap" class="wrap">
    <div id="stage-canvas" class="camera-canvas"></div>
</div>
<div class="camera-wrap phone-portrait camera-canvas" id="camera-canvas-1"></div>
<div class="camera-wrap phone-landscape camera-canvas" id="camera-canvas-2"></div>
<div class="camera-wrap tablet-portrait camera-canvas" id="camera-canvas-3"></div>
<div class="camera-wrap tablet-landscape camera-canvas" id="camera-canvas-4"></div>
<div class="camera-wrap pc-screen camera-canvas" id="camera-canvas-5"></div>