<div ui-height="100" class="ui-height ui-player-chooser ui-top-parent fg-color-main border-sides" id="-ui-player-chooser-main">
    <div ui-height="100" class="ui-height fg-color-main full-width">
        <div ui-height="100" class="ui-height ui-player-chooser-player-panel bg-color-main fg-color-main border-sides">

            <div id="-ui-player-chooser-head" class="ui-player-chooser-ui ui-player-chooser-head bg-color-main fg-color-main border-bottom ui-shadow closed">
                <p id="-ui-player-chooser-title" class="menu-text ui-player-chooser-ui text-center fg-color-main ui-player-chooser-title closed"></p>        
                <a id="-ui-player-chooser-button-close" class="ui-player-chooser-close fg-color-main circle border shadow bg-color-main">
                    <i class="menu-game-button-icon-link-icon ui-player-chooser-button-icon-link-icon fa fa-times-circle"></i>
                </a>
            </div>

            <div id="-ui-player-chooser-body" class="ui-player-chooser-ui ui-player-chooser-body ui-player-chooser-content fg-color-main bg-main boder-bottom  closed ">

                <div class="flip">
                    <div id="-ui-player-chooser-custom-card" class="card"> 

                        <div class="face front">                
                            <div id="-ui-player-chooser-player-panel" ui-height="55" class="ui-height ui-player-chooser-player-panel bg-color-white shadow-inner-light">
                                <div id="-ui-player-chooser-player-panel-inner" ui-height="55" class="ui-height ui-player-chooser-player-panel ui-player-chooser-player-panel-inner">
                                    <div id="-ui-player-chooser-canvas" ui-height="50" class="ui-height relative ui-player-chooser-canvas">
                                        <p id="-ui-player-chooser-canvas-info-text" ui-top="37" class="ui-top fade-hide menu-text text-center fg-color-dark ui-player-chooser-canvas-text">click to customize</p>        
                                        <p id="-ui-player-chooser-canvas-text" ui-top="43" class="ui-top menu-text menu-canvas-text text-center ui-player-chooser-canvas-text"></p>        
                                        <a id="-ui-player-chooser-button-prev" ui-top="25" href="#" class="ui-top ui-player-chooser-navigation-button ui-player-chooser-navigation-button-left fg-color-light">
                                            <i class="menu-game-button-icon-link-icon ui-player-chooser-button-icon-link-icon fa fa-chevron-left"></i>
                                        </a>
                                        <a id="-ui-player-chooser-button-next" ui-top="25" href="#" class="ui-top ui-player-chooser-navigation-button ui-player-chooser-navigation-button-right fg-color-light ">
                                            <i class="menu-game-button-icon-link-icon ui-player-chooser-button-icon-link-icon fa fa-chevron-right"></i>
                                        </a>
                                        <a id="-ui-player-chooser-button-custom" class="ui-player-chooser-canvas-button-custom" href="#"></a>
                                    </div>
                                </div>
                            </div>
                        </div>                    

                        <div class="face back bg-color-white">
                            <div id="-ui-player-chooser-player-panel" ui-height="55" class="ui-height ui-player-chooser-player-panel ui-player-chooser-player-panel-inner color-bg-white shadow-inner-light">
                                <div id="-ui-player-chooser-canvas" ui-height="50" class="ui-height relative ui-player-chooser-canvas">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <div id="-ui-player-chooser-foot" class="ui-player-chooser-ui ui-player-chooser-content ui-player-chooser-foot fg-color-main bg-color-main border-top ui-shadow closed">

                <div id="-ui-player-chooser-button-start-button" class="ui-player-chooser-card-start-button menu-game-button-icon menu-game-button-icon-large bg-color-main fg-color-main bg-color-ok border circle ui-shadow">
                    <a id="-ui-player-chooser-button-start" href="#" class="fade-hide menu-game-button-icon-link menu-game-button-icon-link-text fg-color-main ">START</a>                        
                </div>                    

            </div>

        </div>
    </div>        
</div>