.dev-tools {
    position: absolute;
    width: auto;
    height: auto;
    background-color: white;
    color: darkgray;
    right: 10px;
    top: 10px;
    padding: .5em;
}

.dev-tools-button, .dev-tools-button:hover {
    color: darkgray;
    text-decoration: none;
}

.dev-tools-fps {
    width: 10em;
    height: 2em;
}

.dev-tools-collapse {
    height: 0;
    width: 0;
    display: none;
}

.dev-tools p {
    clear: both;
    float: left;
    margin: 0;
    width: 4em;
    font-weight: bold;
    padding: 0;
}