.ui-player-chooser {
    margin: 0;
    width: 25%;
    float: left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;    
}

.ui-player-chooser-player-panel {
    width: 100%;
    float: left;
    position: relative;
    display: block;
    overflow: hidden;
}

.ui-player-chooser-player-panel-inner {
    width: 96%;
    margin: 2%;
}

.ui-player-chooser-card-start-button {
    margin: 0 auto;
    float: none;
}

.ui-player-chooser-head {
    float: left;
    width: 100%;
    position: relative;
    z-index: 999;
}

.ui-player-chooser-title {
    line-height: 1em;
}

.ui-player-chooser-close {
    position: absolute;
    z-index: 9999;
    cursor: pointer;
    right: .5em;
    top: .3em;
    height: 1.5em;
    width: 1em;
}


.ui-player-chooser-content {
    float: left;
    position: relative;
    width: 100%;
}

.ui-player-chooser-canvas, .ui-player-chooser-custom-canvas {
    float: left;
    width: 100%;
    overflow: hidden;
}

.ui-player-chooser-canvas-text {
    position: absolute;
    float: none;
}


.ui-player-chooser-navigation-button {
    font-size: 2em;
    width: 1em;
    position: relative;
    z-index: 999;
}

.ui-player-chooser-navigation-button-left {
    float: left;
    margin-left: .5em;
}

.ui-player-chooser-navigation-button-right {
    float: right;
    margin-right: .5em;
}

.ui-player-chooser-button-bar {
    width: 2.8em;
    height: 3em;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 999;
}

.ui-player-chooser-button-bar-button {
     font-size: 1em;
}

.ui-player-chooser-button-icon {
    padding: .1em .2em .2em .2em;
    width: 2.2em;
    height: 2.2em;
}

.ui-player-chooser-button-icon-middle {
    width: 2.8em;
    height: 2.4em;
    margin: -.3em 1em;
    padding-top: .3em;
}

.ui-player-chooser-button-icon-link {
    font-size: 1.5em;
}

.ui-player-chooser-button-icon-link-icon.fa {
    font-size: 1.2em;
    line-height: 1.2em;
}

.menu-game-button-icon-link-wrench {
    font-size: 1.4em;
    line-height: 1.5em;
}

.ui-player-chooser-custom-button-bar {
    width: 5em;
    margin: 1.5em auto;
}

#ui-player-chooser-custom-ok-icon {
    font-size: 1.4em;
}

.ui-player-chooser-card-ready-button {
    margin-top: -1em;
}

.ui-player-chooser-bottom {
    width: 100%;
    display: block;
    float: left;
    position: relative;
    z-index: 900;
}
