<div class="main-content-wrap">
    <div ui-height="90" class="ui-height full-width" id="player-canvas">
        <p class="game-canvas-text text-left" id="player-canvas-text"></p>
    </div>        
</div>
<div class="button-wrap">
    <a href="#" class="fade-hide menu-game-button-icon-link">
        <i class="menu-game-button-icon-link-icon fa fa-home"></i>
    </a>
</div>
<div class="button-wrap">
    <a href="#" class="fade-hide menu-game-button-icon-link ">
        <i class="menu-game-button-icon-link-icon menu-game-button-icon-link-icon-pause fa fa-pause"></i>
    </a>
</div>
<div class="button-wrap">
    <a href="#" class="fade-hide menu-game-button-icon-link">
        <i class="menu-game-button-icon-link-icon fa fa-volume-up"></i>
    </a>
</div>