<div class="main-content-wrap"></div>
<div class="button-wrap">
    <a href="#" class="fade-hide menu-game-button-icon-link">
        <i class="menu-game-button-icon-link-icon fa fa-home"></i>
    </a>
</div>
<div class="button-wrap">
    <a href="#game" class="fade-hide menu-game-button-icon-link menu-game-button-icon-link-text ">GO!</a>
</div>
<div class="button-wrap">
    <a href="#" class="fade-hide menu-game-button-icon-link">
        <i class="menu-game-button-icon-link-icon fa fa-volume-up"></i>
    </a>
</div>