<div id="stage-wrap" class="wrap">
    <canvas id="stage-canvas"></canvas>
</div>
<div class="camera-wrap phone-portrait">
    <canvas class="camera-canvas" id="camera-canvas-1"></canvas>
</div>
<div class="camera-wrap phone-landscape">
    <canvas class="camera-canvas" id="camera-canvas-2"></canvas>
</div>
<div class="camera-wrap tablet-portrait">
    <canvas class="camera-canvas" id="camera-canvas-3"></canvas>
</div>
<div class="camera-wrap tablet-landscape">
    <canvas class="camera-canvas" id="camera-canvas-4"></canvas>
</div>
<div class="camera-wrap pc-screen">
    <canvas class="camera-canvas" id="camera-canvas-5"></canvas>
</div>