<div class="center menu main-content fit-height">
    <div ui-height="4" class="ui-height"></div>
    <div ui-height="90" class="main-content-window ui-height round-corners" id="main-content">
        <div ui-height="90" class="fade-in ui-height main-content-menu-main-main full-width round-corners"></div>
    </div>
    <div ui-item-link="main-content" ui-item-link-point="bc" class="ui-item-link main-content-button-bar">
        <div class="main-content-button-bar-button">
            <div class="menu-game-button-icon circle">
                <a href="#" class="fade-in menu-game-button-icon-link">
                    <i class="menu-game-button-icon-link-icon fa fa-gear"></i>
                </a>
            </div>
        </div>
        <div class="main-content-button-bar-button">
            <div class="menu-game-button-icon menu-game-button-icon-middle circle">
                <a href="#menu-player" class="fade-in menu-game-button-icon-link menu-game-button-icon-link-text">START</a>
            </div>
        </div>
        <div class="main-content-button-bar-button">
            <div class="menu-game-button-icon circle">
                <a href="#" class="fade-in menu-game-button-icon-link">
                    <i class="menu-game-button-icon-link-icon fa fa-volume-up"></i>
                </a>
            </div>
        </div>
    </div>
</div>