<div ui-height="70" class="ui-height ui-player-chooser" id="-ui-player-chooser-main">
    <div id="-ui-player-chooser" ui-height="75" class="ui-height ui-player-chooser-content shadow round-corners ui-top-parent">
        <div ui-height="5" class="ui-height"></div>

            <div class="flip">
                <div id="-ui-player-chooser-card" class="card white-bg"> 

                    <div class="face front">                
                        <div id="-ui-player-chooser-canvas" ui-height="50" class="ui-height relative"></div>
                        <p id="-ui-player-chooser-title" ui-top="-62" class="ui-top menu-text text-center"></p>        
                        <p id="-ui-player-chooser-canvas-text" ui-top="40" class="ui-top menu-text menu-canvas-text text-center"></p>        

                        <div ui-item-link="-ui-player-chooser-canvas" ui-item-link-point="bc" class="ui-item-link main-content-button-bar ui-player-chooser-button-bar">
                            <div class="main-content-button-bar-button ui-player-chooser-button-bar-button">
                                <div class="menu-game-button-icon ui-player-chooser-button-icon circle shadow">
                                    <a id="-ui-player-chooser-button-prev" href="#" class="fade-in menu-game-button-icon-link text-shadow">
                                        <i class="menu-game-button-icon-link-icon ui-player-chooser-button-icon-link-icon fa fa-chevron-circle-left"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="main-content-button-bar-button ui-player-chooser-button-bar-button">
                                <div class="menu-game-button-icon ui-player-chooser-button-icon menu-game-button-icon-middle ui-player-chooser-button-icon-middle circle shadow">
                                    <a id="-ui-player-chooser-button-flip" href="#" class="fade-in menu-game-button-icon-link ui-player-chooser-button-icon-link text-shadow">
                                        <i class="menu-game-button-icon-link-icon ui-player-chooser-button-icon-link-icon fa fa-wrench"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="main-content-button-bar-button ui-player-chooser-button-bar-button">
                                <div class="menu-game-button-icon ui-player-chooser-button-icon circle shadow">
                                    <a id="-ui-player-chooser-button-next" href="#" class="fade-in menu-game-button-icon-link ui-player-chooser-button-icon-link text-shadow">
                                        <i class="menu-game-button-icon-link-icon ui-player-chooser-button-icon-link-icon fa fa-chevron-circle-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="face back">                
                        <div id="-ui-player-chooser-custom-canvas" ui-height="50" class="ui-height relative white-bg"></div>
                        <p id="-ui-player-chooser-custom-title" ui-top="-62" class="ui-top menu-text text-center">OPTIONS</p>        
                        <p id="-ui-player-chooser-custom-canvas-text" ui-top="40" class="ui-top menu-text menu-canvas-text text-center">CUSTOM, BABY!</p>        

                        <div ui-item-link="-ui-player-chooser-custom-canvas" ui-item-link-point="bc" class="ui-item-link main-content-button-bar ui-player-chooser-custom-button-bar">
                            <div class="main-content-button-bar-button ui-player-chooser-button-bar-button">
                                <div class="menu-game-button-icon ui-player-chooser-button-icon menu-game-button-icon-middle ui-player-chooser-button-icon-middle circle shadow">
                                    <a id="-ui-player-chooser-button-unflip" href="#" class="fade-in menu-game-button-icon-link ui-player-chooser-button-icon-link text-shadow">
                                        <i class="menu-game-button-icon-link-icon ui-player-chooser-button-icon-link-icon fa fa-check"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>

        </div>
    </div>
</div>
