<div class="main-content-wrap">
    <div class="fit-height full-width" id="game-canvas">
        <p class="game-canvas-text game-party-canvas-text game-party-canvas-text-top text-left" id="game-canvas-text-top-left"></p>
        <p class="game-canvas-text game-party-canvas-text game-party-canvas-text-top text-center" id="game-canvas-text-top-center"></p>
        <p class="game-canvas-text game-party-canvas-text game-party-canvas-text-top text-right" id="game-canvas-text-top-right"></p>
        <p class="game-canvas-text game-party-canvas-text game-party-canvas-text-bottom text-left" id="game-canvas-text-bottom-left"></p>
        <p class="game-canvas-text game-party-canvas-text game-party-canvas-text-bottom text-center" id="game-canvas-text-bottom-center"></p>
        <p class="game-canvas-text game-party-canvas-text game-party-canvas-text-bottom text-right" id="game-canvas-text-bottom-right"></p>
    </div>        
</div>
<div class="button-wrap">
    <a href="#" class="fade-hide menu-game-button-icon-link fg-color-main ">
        <i class="menu-game-button-icon-link-icon menu-game-button-icon-link-icon-pause fa fa-pause"></i>
    </a>
</div>