.ui-level-chooser-canvas {
    margin: 3% 10% 3% 10%;
    width: 80%;
    height: 70%;
}

.ui-level-chooser-canvas-text {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 85%;
}