
<div ui-height="75" class="ui-height ui-player-chooser" id="-ui-player-chooser-main">

    <div class="flip">
        <div id="-ui-player-chooser-card" class="card white-bg"> 


                <div class="face front">                
                    
                    <div id="-ui-player-chooser" ui-height="75" class=" ui-height ui-player-chooser-content shadow ui-top-parent">
                        <div id="-ui-player-chooser-player-panel" ui-height="75" class="ui-height ui-player-chooser-player-panel">
                            <div ui-height="5" class="ui-height ui-player-chooser-head">
                                    <p id="-ui-player-chooser-title" class="menu-text text-center ui-player-chooser-title"></p>        
                                    <a id="-ui-player-chooser-button-close" class="menu-game-button-icon-link ui-player-chooser-button-icon-link ui-player-chooser-close">
                                        <i class="menu-game-button-icon-link-icon ui-player-chooser-button-icon-link-icon ui-player-chooser-button-icon-link-icon-close fa fa-times-circle-o"></i>
                                    </a>
                            </div>
                            <div id="-ui-player-chooser-canvas" ui-height="45" class="ui-height white-bg relative ui-player-chooser-canvas">
                                <p id="-ui-player-chooser-canvas-text" ui-top="45" class="ui-top menu-text menu-canvas-text text-center ui-player-chooser-canvas-text"></p>        
                            </div>
                            <div ui-height="25" class="ui-height ui-player-chooser-bottom">

                            </div>
                            <div ui-top="63.8" class="ui-top main-content-button-bar ui-player-chooser-button-bar">
                                <div class="main-content-button-bar-button ui-player-chooser-button-bar-button">
                                    <div class="menu-game-button-icon ui-player-chooser-button-icon circle shadow">
                                        <a id="-ui-player-chooser-button-prev" href="#" class=" menu-game-button-icon-link ui-player-chooser-button-icon-link ">
                                            <i class="menu-game-button-icon-link-icon ui-player-chooser-button-icon-link-icon fa fa-chevron-circle-left"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="main-content-button-bar-button ui-player-chooser-button-bar-button">
                                    <div class="menu-game-button-icon ui-player-chooser-button-icon menu-game-button-icon-middle ui-player-chooser-button-icon-middle circle shadow">
                                        <a id="-ui-player-chooser-button-custom" href="#" class=" menu-game-button-icon-link ui-player-chooser-button-icon-link ">
                                            <i class="menu-game-button-icon-link-icon ui-player-chooser-button-icon-link-icon fa fa-wrench"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="main-content-button-bar-button ui-player-chooser-button-bar-button">
                                    <div class="menu-game-button-icon ui-player-chooser-button-icon circle shadow">
                                        <a id="-ui-player-chooser-button-next" href="#" class=" menu-game-button-icon-link ui-player-chooser-button-icon-link ">
                                            <i class="menu-game-button-icon-link-icon ui-player-chooser-button-icon-link-icon fa fa-chevron-circle-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>                    
                    
                </div>

                <div class="face back">     
                    <div id="-ui-player-chooser-custom" ui-height="75" class=" ui-height ui-player-chooser-content shadow ui-top-parent">
                        <div id="-ui-player-chooser-player-custom-panel" ui-height="75" class="ui-height ui-player-chooser-player-panel">
                            
                            <div ui-height="5" class="ui-height ui-player-chooser-head">
                                    <p id="-ui-player-chooser-custom-title" class="menu-text text-center ui-player-chooser-title"></p>        
                                    <a id="-ui-player-chooser-button-close" class="menu-game-button-icon-link ui-player-chooser-button-icon-link ui-player-chooser-close">
                                        <i class="menu-game-button-icon-link-icon ui-player-chooser-button-icon-link-icon ui-player-chooser-button-icon-link-icon-close fa fa-times-circle-o"></i>
                                    </a>
                            </div>
                            
                            
                            
                            
                            <div ui-top="63.8" class="ui-top main-content-button-bar ui-player-chooser-button-bar ui-player-chooser-custom-button-bar">
                                <div class="main-content-button-bar-button ui-player-chooser-button-bar-button">
                                    <div class="menu-game-button-icon ui-player-chooser-button-icon menu-game-button-icon-middle ui-player-chooser-button-icon-middle circle shadow">
                                        <a id="-ui-player-chooser-custom-button-ok" href="#" class=" menu-game-button-icon-link ui-player-chooser-button-icon-link ">
                                            <i id="ui-player-chooser-custom-ok-icon" class="menu-game-button-icon-link-icon ui-player-chooser-button-icon-link-icon fa fa-check"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            
                            
                            
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>