#main {
    position: absolute;
    width: 100%;
}

.main-content {
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: relative;
    display: block;
}

#main-content-head {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 3.2em;
    z-index: 999;
    -webkit-transition: border-color .1s linear;
    -moz-transition: border-color .1s linear;
    -o-transition: border-color .1s linear;
    transition: border-color .1s linear;    
}

#main-content-head.game-ui {
    background: transparent;
    color: transparent;
    border-color: rgba(255, 255, 255 ,0);    
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.menu-game-button-icon.game-ui {
    background-color: transparent;
}

.menu-game-button-icon.game-ui {
    background-color: transparent;
}

.main-content-foot {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 300;
}

#main-content-foot.game-ui {
    background: transparent;
    color: transparent;
    border-color: rgba(255, 255, 255 ,0);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
} 

.main-content-window {
    position: relative;
    width: 100%;
    float: left;
/*
    z-index: 1;
    overflow: hidden;
*/
}

#main-content-foot {
    width: 100%;
    display: block;
    z-index: 900;
    height: 3.2em;
    position: absolute;
    bottom: 0;
    left: 0;
}