<div ui-height="75" class="ui-height ui-level-chooser" id="-ui-level-chooser-main">

    <div class="flip">
        <div id="ui-level-chooser-card" class="card"> 

            <div class="face front">                
                <div id="ui-level-chooser" ui-height="75" class=" ui-height ui-level-chooser-content bg-color-main fg-color-main border shadow ui-top-parent bg-color-main">
                    <div id="ui-level-chooser-level-panel" ui-height="75" class="ui-height ui-player-chooser-player-panel">
                        <div ui-height="5" class="ui-height ui-player-chooser-head fg-color-main border-bottom shadow">
                            <p id="ui-level-chooser-title" class="menu-text text-center fg-color-main ui-player-chooser-title">LEVEL 1</p>        
                        </div>
                        
                        
                        <div id="ui-level-chooser-canvas" ui-height="45" class="ui-height bg-color-white relative ui-player-chooser-canvas">
                            <p id="ui-level-chooser-canvas-text" ui-top="45" class="ui-top menu-text menu-canvas-text text-center ui-player-chooser-canvas-text"></p>        
                        </div>
                        <div ui-height="25" class="ui-height ui-player-chooser-bottom fg-color-main border-top shadow">
                        </div>
                        <div ui-top="63.8" class="ui-top main-content-button-bar ui-player-chooser-button-bar">
                            <div class="main-content-button-bar-button ui-player-chooser-button-bar-button">
                                <div class="menu-game-button-icon ui-player-chooser-button-icon bg-color-main fg-color-main border circle shadow">
                                    <a id="ui-level-chooser-button-prev" href="#" class=" menu-game-button-icon-link ui-player-chooser-button-icon-link fg-color-main ">
                                        <i class="menu-game-button-icon-link-icon ui-player-chooser-button-icon-link-icon fa fa-chevron-circle-left"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="main-content-button-bar-button ui-player-chooser-button-bar-button">
                                <div class="menu-game-button-icon ui-player-chooser-button-icon menu-game-button-icon-middle ui-player-chooser-button-icon-middle bg-color-main fg-color-main border circle shadow">
                                    <a id="ui-level-chooser-button-custom" href="#" class=" menu-game-button-icon-link ui-player-chooser-button-icon-link fg-color-main ">
                                        <i class="menu-game-button-icon-link-icon ui-player-chooser-button-icon-link-icon fa fa-wrench"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="main-content-button-bar-button ui-player-chooser-button-bar-button">
                                <div class="menu-game-button-icon ui-player-chooser-button-icon bg-color-main fg-color-main border circle shadow">
                                    <a id="ui-level-chooser-button-next" href="#" class=" menu-game-button-icon-link ui-player-chooser-button-icon-link fg-color-main ">
                                        <i class="menu-game-button-icon-link-icon ui-player-chooser-button-icon-link-icon fa fa-chevron-circle-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
            </div>

            
            <div class="face back">     
                <div id="ui-level-chooser-custom" ui-height="75" class=" ui-height ui-level-chooser-content bg-color-main fg-color-main border shadow ui-top-parent bg-color-main">
                    <div id="ui-level-chooser-level-custom-panel" ui-height="75" class="ui-height ui-player-chooser-player-panel">
                        <div ui-height="5" class="ui-height ui-player-chooser-head">
                            <p id="-ui-level-chooser-custom-title" class="menu-text text-center ui-player-chooser-title">LEVEL 1</p>        
                        </div>
                        <div ui-top="63.8" class="ui-top main-content-button-bar ui-player-chooser-button-bar ui-player-chooser-custom-button-bar">
                            <div class="main-content-button-bar-button ui-player-chooser-button-bar-button">
                                <div class="menu-game-button-icon ui-player-chooser-button-icon menu-game-button-icon-middle ui-player-chooser-button-icon-middle bg-color-main fg-color-main border circle shadow">
                                    <a id="ui-level-chooser-custom-button-ok" href="#" class=" menu-game-button-icon-link ui-player-chooser-button-icon-link fg-color-main ">
                                        <i id="ui-player-chooser-custom-ok-icon" class="menu-game-button-icon-link-icon ui-player-chooser-button-icon-link-icon fa fa-check"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                    
                </div>
            </div>

        </div>
    </div>
</div>