.slide {
    -moz-transition: -moz-transform .5s;
    -o-transition: -o-transform .5s;
    -webkit-transition: -webkit-transform .5s;
    transition: transform .5s;
}

.slide-up {
     -moz-transform-origin: top;
    -ms-transform-origin: top;
    -o-transform-origin: top;
    -webkit-transform-origin: top;
    transform-origin: top;
}

.slide-down {
     -moz-transform-origin: bottom;
    -ms-transform-origin: bottom;
    -o-transform-origin: bottom;
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
}

.slide-down.slide-hide {
    -moz-transform: translateY(10em);
    -ms-transform: translateY(10em);
    -o-transform: translateY(10em);
    -webkit-transform: translateY(10em);
    transform: translateY(10em);
}

.slide-up.slide-hide {
    -moz-transform: translateY(-10em);
    -ms-transform: translateY(-10em);
    -o-transform: translateY(-10em);
    -webkit-transform: translateY(-10em);
    transform: translateY(-10em);
}