<div ui-height="100" class="ui-height ui-level-chooser ui-top-parent" id="-ui-level-chooser-main">

    <div class="flip">
        <div id="ui-level-chooser-card" class="card"> 

            <div class="face front">                
                
                <div ui-height="100" class="ui-height ui-player-chooser-player-panel bg-color-main fg-color-main border-sides">

                    <div id="-ui-level-chooser" ui-height="63" class="ui-height ui-player-chooser-content fg-color-main bg-color-white boder-bottom shadow-inner-light">
                        <div id="-ui-level-chooser-level-panel" ui-height="63" class="ui-height ui-player-chooser-player-panel ui-player-chooser-player-panel-inner">

                            <div id="ui-level-chooser-canvas" ui-height="43" class="ui-height bg-color-white relative ui-player-chooser-canvas ui-level-chooser-canvas"></div>

                            <p id="ui-level-chooser-canvas-text" ui-top="13" class="ui-top menu-text menu-canvas-text text-center ui-player-chooser-canvas-text ui-level-chooser-canvas-text "></p>        

                            <a id="ui-level-chooser-button-prev" href="#" class="ui-player-chooser-navigation-button ui-level-chooser-navigation-button-left ui-level-chooser-navigation-button fg-color-light">
                                <i class="menu-game-button-icon-link-icon ui-player-chooser-button-icon-link-icon fa fa-chevron-left"></i>
                            </a>
                            <a id="ui-level-chooser-button-next" href="#" class="ui-player-chooser-navigation-button ui-level-chooser-navigation-button-right ui-level-chooser-navigation-button fg-color-light ">
                                <i class="menu-game-button-icon-link-icon ui-player-chooser-button-icon-link-icon fa fa-chevron-right"></i>
                            </a>
                            
                        </div>
                    </div>                    

                    <div ui-height="50" class="ui-height ui-player-chooser-content fg-color-main bg-color-main border-top shadow">
                    </div>

                </div>
                
            </div>

            
            <div class="face back">     
                <div id="ui-level-chooser-custom" ui-height="100" class="ui-height ui-level-chooser-content bg-color-main fg-color-main border bg-color-main">
                    <div id="ui-level-chooser-level-custom-panel" ui-height="100" class="ui-height ui-player-chooser-player-panel">
                        <div ui-top="63.8" class="ui-top main-content-button-bar ui-player-chooser-button-bar ui-player-chooser-custom-button-bar">
                            <div class="main-content-button-bar-button ui-player-chooser-button-bar-button">
                                <div class="menu-game-button-icon ui-player-chooser-button-icon menu-game-button-icon-middle ui-player-chooser-button-icon-middle bg-color-main fg-color-main border circle ui-shadow">
                                    <a id="ui-level-chooser-custom-button-ok" href="#" class=" menu-game-button-icon-link ui-player-chooser-button-icon-link fg-color-main ">
                                        <i id="ui-player-chooser-custom-ok-icon" class="menu-game-button-icon-link-icon ui-player-chooser-button-icon-link-icon fa fa-check"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                    
                </div>
            </div>

        </div>
    </div>
</div>