<div class="center menu menu-game fit-height">
    <div ui-height="5" class="ui-height"></div>
    <div class="main-menu-image">
        <div ui-height="50" class="ui-height main-menu-image-image round-corners shadow">
        </div>
    </div>
    <div ui-height="5" class="ui-height"></div>
    <div ui-height="35" class="ui-height menu-game-menu">
        <a href="#menu-sp" class="ui-square ui-center-group menu menu-game-players round-corners shadow">
            <span ui-top="20" class="ui-top ui-center menu-game-players-icon menu-game-players-icon-1p">
                <i ui-scale-h="40" class="ui-scale-h fa fa-male"></i>
            </span>
            <span ui-scale-w="2" ui-top="15" class="ui-top ui-scale-w menu-game-players-text">1 PLAYER</span>
        </a>
        <a href="#menu-party" class="ui-square ui-center-group menu menu-game-players round-corners shadow">
            <span ui-top="20" class="ui-top ui-center menu-game-players-icon menu-game-players-icon-party">
                <i ui-scale-h="40" class="ui-scale-h fa fa-male"></i>
                <i ui-scale-h="40" class="ui-scale-h fa fa-male menu-game-players-icon-mp-top"></i>
                <i ui-scale-h="40" class="ui-scale-h fa fa-male"></i>
            </span>
            <span ui-scale-w="2" ui-top="15" class="ui-top ui-scale-w menu-game-players-text">PARTY</span>
        </a>
        <a href="#menu-online" class="ui-square ui-center-group menu menu-game-players round-corners shadow">
            <span ui-top="20" class="ui-top ui-center menu-game-players-icon menu-game-players-icon-online">
                <i ui-scale-h="45" class="ui-scale-h fa fa-television"></i>
            </span>
            <span ui-top="-33.5" class="ui-top ui-center menu-game-players-icon menu-game-players-icon-online-mp menu-game-players-icon-mp">
                <i ui-scale-h="15" class="ui-scale-h fa fa-male"></i>
                <i ui-scale-h="15" class="ui-scale-h fa fa-male menu-game-players-icon-mp-top"></i>
                <i ui-scale-h="15" class="ui-scale-h fa fa-male"></i>
            </span>
            <span ui-scale-w="2" ui-top="10" class="ui-top ui-scale-w menu-game-players-text">ONLINE</span>
        </a>
    </div>
</div>