<div class="center menu menu-game fit-height">
    <div ui-height="5" class="ui-height"></div>
    <div ui-height="75" class="ui-height main-menu-player round-corners shadow">
        <div ui-height="60" class="ui-height round-corners" id="menu-canvas"></div>
        <a href="#" ui-item-link="menu-canvas" ui-item-link-point="bl" class="ui-item-link menu-game-player-view-player-button menu-game-player-view-player-button-prev fade-in" id="menu-game-player-view-player-button-prev">
            <i ui-min-scale="30" ui-max-scale="35" ui-scale-h="8" class="ui-scale-h menu-game-player-view-player-button-icon circle shadow fa fa-chevron-circle-left"></i>
        </a>
        <a href="#" ui-item-link="menu-canvas" ui-item-link-point="br" class="ui-item-link menu-game-player-view-player-button menu-game-player-view-player-button-next fade-in" id="menu-game-player-view-player-button-next">
            <i ui-min-scale="30" ui-max-scale="35" ui-scale-h="8" class="ui-scale-h menu-game-player-view-player-button-icon circle shadow fa fa-chevron-circle-right"></i>
        </a>
    </div>
    <div ui-height="5" class="ui-height"></div>
    <div ui-height="10" class="ui-height main-menu-player-nav">
        <a href="#" ui-height="10" class="ui-height game-button float-left visible-pc flex">
            <i ui-min-scale="25" ui-max-scale="45" ui-scale-h="8" class="ui-scale-h game-button-icon circle fa fa-home"></i>
            <span ui-scale-w="2" class="ui-scale-w game-button-label">HOME</span>
        </a>
        <a href="#" ui-height="10" class="ui-height game-button game-button-small float-left hidden-pc flex">
            <i ui-min-scale="25" ui-max-scale="45" ui-scale-h="8" class="ui-scale-h game-button-icon circle fa fa-home"></i>
        </a>
        <a href="#menu-sp-level" ui-height="10" class="ui-height game-button float-right visible-tablet flex">
            <i ui-min-scale="25" ui-max-scale="45" ui-scale-h="8" class="ui-scale-h game-button-icon circle fa fa-check"></i>
            <span ui-scale-w="2" class="ui-scale-w game-button-label">OK</span>
        </a>
        <a href="#menu-sp-level" ui-height="10" class="ui-height game-button game-button-large float-right visible-mobile flex">
            <i ui-min-scale="25" ui-max-scale="45" ui-scale-h="8" class="ui-scale-h game-button-icon circle fa fa-check"></i>
            <span ui-scale-w="4" class="ui-scale-w game-button-label">OK</span>
        </a>
    </div>
</div>