<div class="center menu menu-game fit-height">
    
    <div ui-height="5" class="ui-height"></div>
    
    <div ui-height="75" class="ui-height main-menu-player round-corners shadow">
        
        
    </div>
    
    <div ui-height="5" class="ui-height"></div>
    
    <div ui-height="10" class="ui-height main-menu-player-nav">
        
        <a href="#" ui-height="10" class="ui-height game-button float-left visible-pc flex">
            <i ui-min-scale="25" ui-max-scale="45" ui-scale-h="8" class="ui-scale-h game-button-icon circle fa fa-home"></i>
            <span ui-scale-w="2" class="ui-scale-w game-button-label">HOME</span>
        </a>
        
        <a href="#" ui-height="10" class="ui-height game-button game-button-small float-left hidden-pc flex">
            <i ui-min-scale="25" ui-max-scale="45" ui-scale-h="8" class="ui-scale-h game-button-icon circle fa fa-home"></i>
        </a>
        
        <a href="#game-sp" ui-height="10" class="ui-height game-button float-right visible-tablet flex">
            <i ui-min-scale="25" ui-max-scale="45" ui-scale-h="8" class="ui-scale-h game-button-icon circle fa fa-smile-o"></i>
            <span ui-scale-w="2" class="ui-scale-w game-button-label">GO!</span>
        </a>
        
        <a href="#game-sp" ui-height="10" class="ui-height game-button game-button-large float-right visible-mobile flex">
            <i ui-min-scale="25" ui-max-scale="45" ui-scale-h="8" class="ui-scale-h game-button-icon circle fa-smile-o"></i>
            <span ui-scale-w="4" class="ui-scale-w game-button-label">GO!</span>
        </a>
    </div>
    
</div>