<div class="middle">
    <div class="center">
        <a href="dev.html" class="loader">DEV - LEVEL 1</a>
        <br /><br />
        <br /><br />
        <a href="level1.html" class="loader">GAME - LEVEL 1</a>
        <br /><br />
        <br /><br />
        <a href="player0.html" class="loader">PLAYER 0 - LEVEL 1</a>
        <br /><br />
        <a href="player1.html" class="loader">PLAYER 1 - LEVEL 1</a>
        <br /><br />
        <a href="player2.html" class="loader">PLAYER 2 - LEVEL 1</a>
        <br /><br />
        <a href="player3.html" class="loader">PLAYER 3 - LEVEL 1</a>
        <br /><br />
        <a href="player4.html" class="loader">PLAYER 4 - LEVEL 1</a>
        <br /><br />
        <a href="player5.html" class="loader">PLAYER 5 - LEVEL 1</a>
        <br /><br />
        <a href="player6.html" class="loader">PLAYER 6 - LEVEL 1</a>
    </div>
</div>