<div class="main-content-wrap">
    <div class="game-canvas fit" id="game-canvas">
    </div>        
    
    <div class="screen-gamepads fade-hide visible-mobile" id="gamepads">
        <div class="screen-gamepad screen-gamepad-left logo-menu-shadow">
        </div>
        <div class="screen-gamepad-buttons screen-gamepad-buttons-left">
            <a class="screen-gamepad-button screen-gamepad-button-first shadow" id="screen-gamepad-button-left"><</a>
            <a class="screen-gamepad-button shadow" id="screen-gamepad-button-right">></a>
        </div>
        <div class="screen-gamepad screen-gamepad-right logo-menu-shadow"></div>
        <div class="screen-gamepad-buttons screen-gamepad-buttons-right">
            <a class="screen-gamepad-button shadow" id="screen-gamepad-button-jump">^</a>
        </div>
    </div>
    
</div>