<div class="ui-player-chooser fit" id="-ui-player-chooser-main">
    <div id="-ui-player-chooser-canvas" class="relative ui-chooser-canvas ui-player-chooser-canvas">

        <a id="-ui-player-chooser-button-prev" href="#" class="ui-chooser-navigation-button ui-chooser-navigation-button-left fg-color-light">
            < <i class="menu-game-button-icon-link-icon ui-player-chooser-button-icon-link-icon fa fa-chevron-left"></i>
        </a>

        <a id="-ui-player-chooser-button-next" href="#" class="ui-chooser-navigation-button ui-chooser-navigation-button-right fg-color-light ">
            > <i class="menu-game-button-icon-link-icon ui-player-chooser-button-icon-link-icon fa fa-chevron-right"></i>
        </a>

    </div>

    <p id="-ui-player-chooser-canvas-text" class="menu-text text-center ui-player-chooser-canvas-text fg-color-white"></p>        
</div>