<div class="middle auto">
    <div class="center">
        <a href="dev" class="loader">DEV - LEVEL 1</a>
        <br /><br />
        <br /><br />
        <a href="level1" class="loader">GAME - LEVEL 1</a>
        <br /><br />
        <br /><br />
        <a href="player0" class="loader">PLAYER 0 - LEVEL 1</a>
        <br /><br />
        <a href="player1" class="loader">PLAYER 1 - LEVEL 1</a>
        <br /><br />
        <a href="player2" class="loader">PLAYER 2 - LEVEL 1</a>
        <br /><br />
        <a href="player3" class="loader">PLAYER 3 - LEVEL 1</a>
        <br /><br />
        <a href="player4" class="loader">PLAYER 4 - LEVEL 1</a>
        <br /><br />
        <a href="player5" class="loader">PLAYER 5 - LEVEL 1</a>
        <br /><br />
        <a href="player6" class="loader">PLAYER 6 - LEVEL 1</a>
        <br /><br />
    </div>
</div>