.main-content-menu-main-main {
}

.menu-text {
    font-family: 'SourceSansPro';
    position: relative;
    float: left;
    width: 100%;
    z-index: 999;
    text-transform: capitalize;
}

.menu-canvas-text {
    font-family: 'Press Start 2P';
    color: darkgray;
}

.menu-wrap {
    margin-left: -1%;
}

.ui-menu-pad-top {
    margin-top: 3.3em;
}