<div class="fit-height full-width fade-hide" id="game-content">
    
    <div ui-height="4" class="ui-height"></div>
    
    <div ui-height="90" class="ui-height camera-canvas player-canvas" id="player-canvas">
        <p class="game-canvas-text text-left" id="player-canvas-ui"></p>
    </div>        
    
    <div ui-item-link="player-canvas" ui-item-link-point="bc" class="ui-item-link menu-game-player-button-bottom-wrap menu-game-player-button-bottom-wrap-game">
        
        <a href="#" class="fade-in menu-game-player-button-bottom menu-game-player-button-bottom-left">
            <i ui-min-scale="40" ui-max-scale="40" ui-scale-h="8" class="ui-scale-h menu-game-player-view-player-button-icon circle fa fa-home game-button-home"></i>
        </a>
        
        <a href="#game-pause" class="fade-in menu-game-player-button-bottom menu-game-player-button-bottom-large menu-game-player-button-bottom-middle">
            <i ui-min-scale="55" ui-max-scale="55" ui-scale-h="10" class="ui-scale-h menu-game-player-view-player-button-icon circle fa fa-pause"></i>
        </a>
        
        <a href="#game-dev" class="fade-in menu-game-player-button-bottom menu-game-player-button-bottom-right">
            <i ui-min-scale="40" ui-max-scale="40" ui-scale-h="8" class="ui-scale-h menu-game-player-view-player-button-icon circle fa fa-volume-up"></i>
        </a>
        
    </div>
</div>