<div class="center menu menu-game fit-height fade-hide" id="game-content">
    <div ui-height="4" class="ui-height"></div>
    <div ui-height="90" class="ui-height main-menu-player round-corners " id="menu-game-player-customize">
    </div>
    <div ui-item-link="menu-game-player-customize" ui-item-link-point="bc" class="ui-item-link menu-game-player-button-bottom-wrap">
        <a href="#" class="fade-in menu-game-player-button-bottom menu-game-player-button-bottom-left">
            <i ui-min-scale="40" ui-max-scale="40" ui-scale-h="8" class="ui-scale-h menu-game-player-view-player-button-icon circle  fa fa-home"></i>
        </a>
        <a href="#menu-player" class="fade-in menu-game-player-button-bottom menu-game-player-button-bottom-large menu-game-player-button-bottom-middle">
            <i ui-min-scale="55" ui-max-scale="55" ui-scale-h="8" class="ui-scale-h menu-game-player-view-player-button-icon circle  fa fa-check"></i>
        </a>
        <a href="#menu-player" class="fade-in menu-game-player-button-bottom menu-game-player-button-bottom-right">
            <i ui-min-scale="40" ui-max-scale="40" ui-scale-h="10" class="ui-scale-h menu-game-player-view-player-button-icon circle  fa fa-times"></i>
        </a>
    </div>
</div>